* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
}

.container {
  display: grid;
  place-items: center;
}

header {
  width: 100%;
}

.navbar > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
